
body,ul{
    margin:0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
.flex-direction-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
/*Ajustes do header */
#header{
    box-sizing: border-box;
    height: 70px;
    background-color: #102A58;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 100px;
}
.pagina{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
}
.pagina:hover{
    background-color: rgba(0,0,0, .4);
}

#menu{
    display: flex;
    list-style: none;
    padding-right: 200px;
    gap: 1.5rem;
}
#menu a{
    display: block;
    padding: .1em;
}
#btn-mobile{
    display: none;
}
.div-hea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-header{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.flex-container{
    display: flex;
    max-width: 992px;
    justify-content: center;
    margin:auto;
    
}
.flex-container-t{
    display: flex;
    max-width: 992px;
    justify-content: center;
    margin:auto;
    
}
article h1{
    margin-bottom: 20px;
    color:#102A56;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}
article a{
    display: block;
    background-color: #102A58;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 120px;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
}
article a:hover{
    background-color: #2e5baa;
}
.img-apressentacao{
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 15px;
}
.flex-items-center{
    align-items: center;
}
#titulo-quem-somos{
    font-size: 32px;
    color: #102A56;
    display: flex;
}
#titulo-quem-somos::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #102A56;

}
.container-servico{
    background-color: #102A56;
    width: 100%;
    margin: 0;
}
.flex-container-servico{
    display: flex;
    max-width: 992px;
    margin-left: 160px;
    margin-right: 25px;
    
}
#servicos{
    flex-direction: column;
    padding: 80px 0;
}
.lista-servicos{
    display: flex;
    justify-content: space-around;
}
.lista-servicos .item-servico{
    text-align: center;
}
.flex-container-servico h2{
    color: white;
    font-size: 32px;

}
.item-servico a{
    display: block;
    background-color: #fff;
    color: #102A56;
    text-align: center;
    border-radius: 15px;
    width: 120px;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
    margin: auto;
}
.item-servico a:hover{
    background-color: #5c5d5e;
    color:#fff;
}
.item-servico p{
    color: #fff;
}
.img-icon{
    width: 160px;
    height: 130px;
}
#planos{
    flex-direction: column;
    min-height: 100vh;
}
.lista-planos{
    display: flex;
    align-items: flex-end;
}
#title-planos{
    color:#102A56 !important;
}
#title-planos::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #102A56;

}
.item-plano{
    flex: 1;
    border: 2px solid #102A56;
    margin-right: 20px;
    padding: 10px;
}
.item-plano li{
    text-decoration: none;
    list-style: none;

}
.item-plano a{
    margin: auto;
    margin-bottom: 20px;
}
.item-plano a:hover{
    background-color: #2e5baa;
}
.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
}
.item-plano h3::after{
    content: "";
    background-color: #102A56;
    width: 100%;
}
.item-plano ul{
    margin-bottom: 20px;
}
.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
}
.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #102A56;
    margin-right: 5px;
    border-radius: 5px;
}

footer{
    background-color: #102A56;
    color:#fff;
}


@media only screen and (max-width: 600px){
    #btn-mobile{
        display: block;
        color:white;
    
    }
    .img-apressentacao{
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 15px;
    }
    #article-inicial{
        padding-left: 10px;
        margin-bottom: 10px;
    }
    article h1 {
        font-size: 32px;
    }
    article a{
        display: block;
        background-color: #102A58;
        color: white;
        text-align: center;
        border-radius: 15px;
        width: 100px;
        padding: 12px;
        font-size: 14px;
        text-decoration: none;
    }
    
    #logo{
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 30px;
        text-align: center;
    }
    #menu{
        display: block;
        position: absolute;
        width:100%;
        top: 70px;
        padding-right: 0px;
        right: 0;
        height: 0;
        background-color: #102A58;
        transition: .3s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100% - 70px);
        display: block;
        visibility: visible;
        overflow-y: auto;
        

    }
    #menu a{
        padding: 1.5rem 0;
        margin: 0 1rem;
        border-bottom:  2px solid rgba(0,0,0, .5);
    }

    #btn-mobile{
        display: flex;
        padding: .5em 1em;
        font-size: 1em;
        border: none;
        background-color: transparent;
        cursor:pointer;
        gap: .5em;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        color: white;
        

    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);

    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;

    }
    .flex-container-t{
        display: block;
        max-width: 992px;
        justify-content: center;
        margin:auto;
        padding-left: 10px;
        
    }
    #img-quem{
        width: 100%;
        height: 300px;
        text-align: center;
    }
    .lista-servicos{
        display: flex;
        flex-direction: column;
    }
    .flex-container-servico {
        display: flex;
        max-width: 992px;
        margin-left: 0;
    }
    #servico-title{
        margin-left: 32px;
    }
    #servicos{
        padding: 20px 0 80px 0;
    }
    .img-icon{
        width: 160px;
        height: 130px;
    }
    .item-servico{
        margin-bottom: 20px;
    }
    .item-plano{
        margin-bottom: 15px;
    }
    .lista-planos {
        display: block;
        margin: auto;
        
    }
    #title-planos{
        margin-left: 10px;
    }
    
    
}

